@page "/"
@rendermode InteractiveServer
@implements IDisposable
@inject IGameService GameService

<PageTitle>Memory Game</PageTitle>

<div class="container-fluid">
    <header class="navbar navbar-expand-lg flex-fill">
        <img src="/images/logo.png" alt="logo"/>
        <h1 class="text-center me-auto">Memory Game</h1>
        <h6 class="m-1"> Select Game Mode:</h6>
        <button type="button" class="btn btn-success m-1" @onclick="@(() => GameMode(GameDifficulty.Beginner, 3))">
            Beginner
        </button>
        <button type="button" class="btn btn-primary m-1"
                @onclick="@(() => GameMode(GameDifficulty.Intermediate, 6))">Intermediate
        </button>
        <button type="button" class="btn btn-danger m-1" @onclick="@(() => GameMode(GameDifficulty.Advanced, 9))">
            Advanced
        </button>
    </header>

    @if (_isGameOver)
    {
        <div class="row justify-content-center">
            <h3 class="text-center">YOU WIN!</h3>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <h3 class="text-center">@GetElapsedDisplay()</h3>
            <button type="button" class="btn btn-secondary m-1" style="width: 10rem" @onclick="@StartTimer"
                    disabled="@(_isTimeRunning || _isGameOver)">Start Game!
            </button>
        </div>
    }

    <div class="row">
        <div class="col-md-9 game-area">

            @foreach (var card in _cards)
            {
                <CardComponent Card="@card" OnFlip="HandleCardFlip" IsEnabled="_isTimeRunning"/>
            }

        </div>
        <div class="col-md-1 d-flex justify-content-center game-history-area">
            <div class="vr"></div>
        </div>
        <GameHistoryComponent GamesWonHistory="_gamesWonHistory"></GameHistoryComponent>
    </div>
</div>


@code{

    private List<Card>? _cards;
    private List<Card>? _flippedCards;
    private List<string>? _gamesWonHistory;
    private DateTime _startTime;
    private TimeSpan _gameDuration;
    private Timer? _gameTimer;
    private GameDifficulty _currentDifficulty;
    private bool _isTimeRunning;
    private bool _isGameOver;
    private int _gamesWon;

    protected override void OnInitialized()
    {
        _flippedCards = new List<Card>();
        _gamesWonHistory = new List<string>();

        _gameTimer = new Timer(250) { AutoReset = true };
        _gameTimer.Elapsed += async (_, __) => await InvokeAsync(StateHasChanged);

        GameMode(GameDifficulty.Beginner, 3);
    }

    private void GameMode(GameDifficulty gameDifficulty, int pairs)
    {
        _isGameOver = false;
        _gameDuration = TimeSpan.Zero;
        _isTimeRunning = false;
        _gameTimer?.Stop();
        _currentDifficulty = gameDifficulty;
        _cards = GameService.GenerateCards(pairs, _currentDifficulty);
        InvokeAsync(StateHasChanged);
    }

    private async Task HandleCardFlip(Card flipped)
    {
        if (!_isTimeRunning) return;

        _flippedCards?.Add(flipped);

        if (_flippedCards?.Count == 2)
        {
            var a = _flippedCards[0];
            var b = _flippedCards[1];

            if (a.Number == b.Number)
            {
                a.IsMatched = true;
                b.IsMatched = true;
            }
            else
            {
                await Task.Delay(500);
                a.IsFlipped = false;
                b.IsFlipped = false;
            }

            _flippedCards.Clear();

            if (!GameService.AnyFlippableCards(_cards))
            {
                _isGameOver = true;
                _isTimeRunning = false;
                _gameDuration = DateTime.UtcNow - _startTime;
                _gamesWon++;

                var entry = $"Game {_gamesWon} - Level: {_currentDifficulty} - Time: {_gameDuration.ToString(@"mm\:ss")}";
                _gamesWonHistory?.Add(entry);
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task StartTimer()
    {
        if (_isTimeRunning || _isGameOver || _cards == null) return;
        _startTime = DateTime.UtcNow;
        _isTimeRunning = true;
        _gameTimer?.Start();
        await InvokeAsync(StateHasChanged);
    }

    private string GetElapsedDisplay()
    {
        var elapsed = _isTimeRunning ? DateTime.UtcNow - _startTime : _gameDuration;
        return elapsed.ToString(@"mm\:ss");
    }

    public void Dispose()
    {
        _gameTimer?.Stop();
        _gameTimer?.Dispose();
        _gameTimer = null;
    }

}